<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auto Face Blur</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='ukdc.png') }}">
</head>

<body class="min-h-screen flex flex-col bg-gray-50">

<!-- HEADER -->
<header class="text-black shadow-lg">
    <div class="max-w-6xl mx-auto py-4 px-4 flex items-center justify-between">

        <!-- LEFT: LOGO + TITLE -->
        <div class="flex items-center space-x-3">
            <a href="/" class="flex items-center space-x-3">
                <img src="{{ url_for('static', filename='ukdc.png') }}" class="w-8 h-8 m-2">
                <h1 class="text-xl md:text-2xl font-bold whitespace-nowrap">Auto Face Blur</h1>
            </a>
        </div>

        <!-- RIGHT: NAV + PROFILE -->
        <div class="flex items-center gap-6">

            <!-- DESKTOP MENU -->
            <nav id="nav-item" class="hidden md:flex gap-6 items-center">
                <a href="/camera" class="nav-item hover:text-green-600 transition">Camera</a>
                <button id="logout-btn" class="nav-item rounded-md p-3 py-2 bg-gray-200 hover:text-green-600 transition">Logout</button>
            </nav>

            <!-- MOBILE MENU BUTTON -->
            <button id="menu-btn" class="md:hidden text-white focus:outline-none">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none"
                     viewBox="0 0 24 24" stroke="black">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M4 6h16M4 12h16M4 18h16"/>
                </svg>
            </button>
        </div>
    </div>

    <!-- MOBILE DROPDOWN -->
    <div id="menu-dropdown" class="hidden md:hidden px-4 py-3 space-y-2">

      <a href="/camera" class="mobile-item block py-2 text-black hover:text-green-600">Camera</a>

      <button id="mobile-logout" class="mobile-item rounded-md p-3 py-2 bg-gray-200 hover:text-green-600 transition w-full">Logout</button>
    </div>
</header>

<!-- CONTENT -->
<main class="flex-grow p-4 md:p-6">
    {% block content %}{% endblock %}
</main>

<!-- SCRIPT -->
<script>
    const menuBtn = document.getElementById("menu-btn");
    const dropdown = document.getElementById("menu-dropdown");

    menuBtn.addEventListener("click", () => {
        dropdown.classList.toggle("hidden");
    });

    // ======================================
    // NAVBAR LOGIN LOGIC
    // ======================================

    function updateNavbar() {
        const user = localStorage.getItem("user");

        const navItems = document.querySelectorAll(".nav-item");
        const mobileItems = document.querySelectorAll(".mobile-item");

        const profileName = document.getElementById("profile-name");
        const profileWrapper = document.getElementById("profile-wrapper");
        const logoutBtn = document.getElementById("logout-btn");

        const mobileProfile = document.getElementById("mobile-profile");
        const mobileLogout = document.getElementById("mobile-logout");

        if (user) {
            // SUDAH LOGIN
            navItems.forEach(item => item.classList.remove("hidden"));
            mobileItems.forEach(item => item.classList.remove("hidden"));

        } else {
            // BELUM LOGIN
            navItems.forEach(item => item.classList.add("hidden"));
            mobileItems.forEach(item => item.classList.add("hidden"));

            const hamburg = document.getElementById("menu-btn");
            hamburg.classList.add("hidden");
        }
    }

    // ======================================
    // LOGOUT BTN
    // ======================================
    async function logout() {
        const res = await fetch("/be/logout", {
            method: "POST",
            headers: {
                "Content-Type": "application/x-www-form-urlencoded"
            },
        });

        const data = await res.json();

        if (data.status == 0) {
            alert(data.message);
            return;
        }

        localStorage.clear();
        updateNavbar();
        window.location.href = "/";
        return;
    }

    document.getElementById("logout-btn").onclick = logout;
    document.getElementById("mobile-logout").onclick = logout;


    updateNavbar();
</script>

</body>
</html>

