{% extends "base.html" %}

{% block content %}
<div class="flex flex-col items-center justify-center text-center min-h-[80vh] pr-5 pl-5">
  <h1 class="text-3xl font-bold mb-4">Auto Face Blur</h1>
  <p class="text-lg mb-8">Sistem pemrosesan wajah real-time untuk mendeteksi dan memburamkan wajah non-whitelist
    secara otomatis.
  </p>
  <button>
    <a href="/camera" class="bg-green-600 hover:bg-green-700 text-white font-bold p-5 py-3 rounded-md">
      Mulai Kamera
    </a>
  </button>
</div>
{% endblock %}
